version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: task-manager-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: task-manager-backend
    restart: always
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@task-manager-db:5432/task_manager
    depends_on:
      postgres:
        condition: service_healthy
    env_file: .env
    ports:
      - "8000:8000"
    command: >
      sh -c "
        echo 'Waiting for Postgres...' &&
        until pg_isready -h task-manager-db -p 5432 -U postgres; do
          sleep 2;
        done &&
        alembic upgrade head &&
        uvicorn main:app --host 0.0.0.0 --port 8000
      "

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: task-manager-frontend
    restart: always
    depends_on:
      - backend
    env_file:
      - .env
    ports:
      - "5173:5173"

volumes:
  postgres-data:
